header{
	.navbar-collapse{ 
	  padding-left:0;
	  padding-right:0;
  }
}

#row-nav-links {
}

#row-logo-search {
  padding-top:40px;
}

#search{
	margin-top:20px;
	text-align:right;
	.form-inline #search-box{
	  width: 60%;
	}
}

#logo{
	img{
	   margin:10px 0 15px 0px;
	}
}

#form-eclipse-search,
#button-container {
  float:right;
}

#button-container{
	.btn{
	  text-transform: uppercase;
	  font-size:1.7rem;
	  padding:10px 20px;
	  font-weight:bold;
  }
  .btn-warning{
    padding:10px 34px;
  }
  .dropdown-toggle{
  padding-left:8px;
  padding-right:8px;
  }
}

/* Breadcrumbs*/

#breadcrumb{
	background:url('../images/template/breadcrumbs-large-bg.jpg') center;
	background-size:100%;
	color:#fff;
	text-align:center;
  &.large-breadcrumbs{
  
  }
	p{
	  color:#bebebe;
	  max-width:450px;
	  margin:30px auto 20px auto;
	  &:last-child{
	   padding-bottom:1.5em;
	  }
	  
	}
	
	.btn{
     min-width:150px;
     margin-right:10px;
     margin-left:10px;
   }
   
	.breadcrumb{
	  margin-top:15px;
	  padding-left:0;
	  text-align:left;
	  margin-bottom:15px;
	  text-transform:uppercase;
	  background:none;
	  &> .active {
	    color:#fff;
    }    
	  a{
	    color:#ababab;
	  }
	  
	}
}