//
// Template: main.less
// --------------------------------------------------

main{
	background:#e4e4e4;
	padding-top: 20px;
}

.container{
  max-width: 980px;
  margin: 0 auto;
}

#midcolumn{
	.make-md-column(8);
}

#rightcolumn{
	.make-md-column(2);
}

.sideitem{
	margin-bottom: 30px;
	h6{
	  color:#fff;
	  background:orange;
	  padding:3px 6px;
	}
}

#ul-left-nav{
   margin-bottom: 10px;
}