//
// Template: main.less
// --------------------------------------------------

main{
	position:relative;
	padding-top:2em;
	padding-bottom:2em;

}

.breadcrumbs-offset{
	margin-top:-2em;
}

.footer-offset{
	margin-bottom:-2em;
	
}

.container{
  /*max-width: 980px;*/
  margin: 0 auto;
}

#fullcolumn{
	/*.make-md-column(24);*/
}

#midcolumn{
	.make-md-column(14);
	padding-right:30px;
	/* This is bad but needed to support old content pages. */
	#midcolumn{
    width:100%;
    padding:0;
  }
}

#midcolumn.no-right-sidebar{
	.make-md-column(20);
}

#rightcolumn{
	.make-md-column(6);
}
.sideitem{
	color:#fff;
  background:@brand-info;
  padding:10px 20px;
  a{
    color:#fff;
    font-weight:bold;
  }
  h6{
    margin-top:0;
    padding-top:10px;
    font-size:2rem;
    font-weight:bold;
    
  }
}

#ul-left-nav{
   margin-bottom: 10px;
}