.landing-well {
  background:url("../images/components/landing-well/background.jpg");
  background-size:100%;
  min-height:415px;
  color:#c7c7c7;
  text-align:center;
  position:relative;
  overflow:hidden;
  width:100%;
  .scroll-down-button{
	  position:absolute;
	  bottom:-75px;
	  left:50%;
	  margin-left:-71px;
	  color:#fff;	
	  padding-top:15px;
	  font-size:12px;
	  height: 130px;
	  width: 150px;
	  &:hover{
      background:#525252;
      color:#fff;
      text-decoration:none;
    }
	}
	.list-glyphicon{
    margin-top:2em;
  }
}

.circle-container{
  border-radius: 50%;
  background:#525252;
  color:#fff;
  text-align: center;
  font-size: 44px;
  padding-top:13px;
  margin-top:20px;
  height: 130px;
  margin:0 20px;
  width: 130px;
  .opacity(0.8);
  i{
    color:#f7941e;
  }
  h3{
    font-size:1.2rem;
    margin-top:0;
  }
  &:hover{
    .opacity(1);
    background:#fff;
    color:#000;
  }
}
.circle-purple{
	background:#2c2255;
	
}