.container-grey{
  background:@eclipse-highlight-grey;
}
.background-stretch {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Text align */
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}

.left{
	text-align:left;
}

/* Text styles */
.uppercase{
	text-transform: uppercase;
}
.fw-300{
	font-weight:300;
}
.fw-400{
	font-weight:400;
}
.fw-700{
	font-weight:700;
}

/* Colors */
.orange{
	color:@eclipse-orange;
}

/* Other */
.header-row{
	padding:4px 6px;
	h2{
	 margin:0.6em 0;
	 font-size:1.4em;
	}
	&.contrast{
	  background:#371e1d;
    color:#b1b1b1;    
    select{
      color:#000;
    }
	}
	&.pink{
		background:#fad9d9;
		border-top:1px solid #808080;
		border-bottom:1px solid #808080;
	}
}
