.container-grey{
  background:@eclipse-highlight-grey;
}

/* Text align */
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}

.left{
	text-align:left;
}

/* Text styles */
.uppercase{
	text-transform: uppercase;
}
.fw-300{
	font-weight:300;
}
.fw-400{
	font-weight:400;
}
.fw-700{
	font-weight:700;
}



/* Other */
.header-row{
	padding:4px 6px;
	h2{
	 margin:0.6em 0;
	 font-size:1.4em;
	}

	&.pink{
		background:#fad9d9;
		border-top:1px solid #808080;
		border-bottom:1px solid #808080;
	}
}

.call-for-action{
	position:absolute;
	top:-61px;
	z-index:99;
	font-size:11px;
	right:15px;
}

/* Custom buttons */
.btn-white{
	background:#fff;
	border:1px solid #0b0a0f;
	color:#0b0a0f;
	&:hover{
	  background:transparent;
	}
}

/* Shapes */
.circle{
  border-radius: 50%;
  background:#0b0a0f;
  color:#fff;
  border: 8px solid rgb(73, 71, 86);
  border: 8px solid rgba(73, 71, 86, .8);
  text-align: center;
  font-size: 28px;
  padding-top:13px;
  height: 110px;
  position:relative;
  width: 110px;
  .opacity(0.8);
  
  i{
    color:#fff;
  }
  
  h3{  
    font-size:10px;
    position: absolute;
    text-align: center;
    top: 3.3em;
    width: 69%;
  }
  
  &:hover{
    .opacity(0.9);
    border: 8px solid rgb(190, 200, 226);
    border: 8px solid rgba(190, 200, 226, .8);
    background:#494371;
    color:#fff;
  }
  
}

/* Colors */
.orange{
  color:@eclipse-orange;
}

/* Background colors */
.background-orange{
  background:@eclipse-orange;
  color:#000;    
  select{
    color:#000;
  }
}

.background-charcoal{
	background:#2f2f31;
	color:#fff;
	select{
    color:#2f2f31;
  }
	
}

.background-purple{
  background:#2c2255;
  color:#fff;
}
